@import "tailwindcss";

:root {
  --background: #f5f5f5;
}

@theme inline {
  --color-background: var(--background);
  --font-sans: var(--font-babak);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #f5f5f5;
  }
}

body {
  background: var(--background);
  font-family: var(--font-babak), sans-serif;
}

.animate-marquee {
  display: flex;
  animation: marquee 20s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}